/* line 25, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 5px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: auto;
  position: absolute;
  z-index: 100;
}
/* line 26, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 29, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap *:before, .timeRangePicker-wrap *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 50, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .hide {
  display: none;
}
/* line 54, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .clearfix:before,
.timeRangePicker-wrap .clearfix:after {
  content: " ";
  display: table;
}
/* line 60, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .clearfix:after {
  clear: both;
}
/* line 63, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap a {
  text-decoration: none;
  cursor: pointer;
}
/* line 67, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap a:focus,
.timeRangePicker-wrap button:focus,
.timeRangePicker-wrap div,
.timeRangePicker-wrap input:focus {
  outline: none;
}
/* line 73, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-btn {
  border: 1px solid #dcdcdc;
  padding: 4px 12px;
  color: #ffffff;
  background-color: #5cc4ef;
  border-radius: 4px;
}
/* line 80, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-footer {
  text-align: right;
  padding: 10px 10px 5px;
  margin-top: 5px;
  border-top: 1px solid #efefef;
}
/* line 86, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-clean, .timeRangePicker-wrap .timePicker-cancel {
  margin-right: 5px;
  background: #fff;
  color: #666;
}
/* line 91, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-content {
  width: 270px;
  padding: 4px;
}
/* line 96, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-content-time {
  width: auto;
}
/* line 99, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-prev,
.timeRangePicker-wrap .timePicker-next {
  width: 32px;
  height: 32px;
  text-align: center;
}
/* line 105, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-prev {
  float: left;
}
/* line 108, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-next {
  float: right;
}
/* line 111, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-time-title {
  width: 270px;
}
/* line 114, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-nav, .timeRangePicker-wrap .timePicker-time-title {
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  line-height: 32px;
  padding: 4px;
  text-align: center;
}
/* line 120, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-nav > span, .timeRangePicker-wrap .timePicker-time-title > span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding-right: 5px;
}
/* line 127, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-item {
  border-radius: 4px;
  cursor: pointer;
  height: 29px;
  z-index: 1;
  text-align: center;
  line-height: 29px;
}
/* line 134, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-item:hover {
  background-color: #f0f0f0;
}
/* line 137, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-item:active, .timeRangePicker-wrap .timePicker-item.active {
  color: #fff;
  background: #5cc4ef;
}
/* line 142, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-item.timePicker-disable {
  color: #dedede;
}
/* line 146, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-day-title-list,
.timeRangePicker-wrap .timePicker-day-list {
  clear: both;
}
/* line 151, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-day-main .timePicker-item {
  width: 14.28571%;
  float: left;
}
/* line 157, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-day-title-list .timePicker-item {
  color: #FF9A19;
  cursor: default;
}
/* line 160, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-day-title-list .timePicker-item:hover {
  background: none;
}
/* line 165, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-month-main {
  height: 170px;
}
/* line 167, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-month-main .timePicker-item {
  width: 33.33%;
  height: 25%;
  float: left;
  line-height: 42px;
}
/* line 175, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-year-main .timePicker-item {
  width: 25%;
  height: 33.33%;
  float: left;
  line-height: 56.66px;
}
/* line 184, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-time-main {
  text-align: left;
}
/* line 187, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-time-main.timePicker-bottom .timePicker-minute-list,
.timeRangePicker-wrap .timePicker-time-main.timePicker-bottom .timePicker-second-list,
.timeRangePicker-wrap .timePicker-time-main.timePicker-bottom .timePicker-hour-list {
  bottom: auto;
}
/* line 194, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-minute-main,
.timeRangePicker-wrap .timePicker-second-main,
.timeRangePicker-wrap .timePicker-hour-main {
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}
/* line 201, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-minute-main .timePicker-minute-list-main,
.timeRangePicker-wrap .timePicker-minute-main .timePicker-second-list-main,
.timeRangePicker-wrap .timePicker-minute-main .timePicker-hour-list-main,
.timeRangePicker-wrap .timePicker-second-main .timePicker-minute-list-main,
.timeRangePicker-wrap .timePicker-second-main .timePicker-second-list-main,
.timeRangePicker-wrap .timePicker-second-main .timePicker-hour-list-main,
.timeRangePicker-wrap .timePicker-hour-main .timePicker-minute-list-main,
.timeRangePicker-wrap .timePicker-hour-main .timePicker-second-list-main,
.timeRangePicker-wrap .timePicker-hour-main .timePicker-hour-list-main {
  position: relative;
  min-width: 50px;
  display: inline-block;
}
/* line 208, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-minute-main .timePicker-select,
.timeRangePicker-wrap .timePicker-second-main .timePicker-select,
.timeRangePicker-wrap .timePicker-hour-main .timePicker-select {
  border: 1px solid #efefef;
  border-radius: 3px;
  position: relative;
  width: 47px;
  padding-right: 15px;
}
/* line 215, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-minute-main .timePicker-triangle,
.timeRangePicker-wrap .timePicker-second-main .timePicker-triangle,
.timeRangePicker-wrap .timePicker-hour-main .timePicker-triangle {
  width: 10px;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 7px;
}
/* line 223, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-minute-list,
.timeRangePicker-wrap .timePicker-second-list,
.timeRangePicker-wrap .timePicker-hour-list {
  position: absolute;
  width: 54px;
  background: #fff;
  border: 1px solid #efefef;
  bottom: 100%;
  padding: 0 4px;
  z-index: 1000;
  max-height: 289px;
  overflow: auto;
}
/* line 236, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-moring-list {
  border-bottom: 1px solid #eee;
}
/* line 239, ../sass/timeRangePicker.scss */
.timeRangePicker-wrap .timePicker-minute-icon > img {
  vertical-align: -3px;
}
